@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .card { 
        @apply relative rounded-3xl transition duration-150 cursor-pointer; 
    }
    .card:hover {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .card:before {
        @apply absolute rounded-3xl transition duration-150;
        content: '';
        top: -1px; left: -1px; right: -1px; bottom: -1px;
        z-index: -1;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.15));
    }
}